{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}

  org.eclipse.jetty/jetty-server {:mvn/version "11.0.13"}
  org.eclipse.jetty.websocket/websocket-jetty-api {:mvn/version "11.0.13"}
  org.eclipse.jetty.websocket/websocket-jetty-server {:mvn/version "11.0.13"}

  org.xerial/sqlite-jdbc {:mvn/version "3.40.0.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
  com.zaxxer/HikariCP {:mvn/version "5.0.1"}
  p6spy/p6spy {:mvn/version "3.9.1"}

  fr.acinq.secp256k1/secp256k1-kmp {:mvn/version "0.7.0"}
  fr.acinq.secp256k1/secp256k1-kmp-jni-jvm {:mvn/version "0.7.0"}

  metosin/jsonista {:mvn/version "0.3.7"}
  clj-commons/clj-yaml {:mvn/version "1.0.26"}

  hiccup/hiccup {:mvn/version "1.0.5"}

  com.google.guava/guava {:mvn/version "31.1-jre"}

  com.bucket4j/bucket4j-core {:mvn/version "8.1.1"}

  org.apache.commons/commons-lang3 {:mvn/version "3.12.0"}
  org.apache.commons/commons-compress {:mvn/version "1.22"}

  metrics-clojure/metrics-clojure {:mvn/version "2.10.0"}
  metrics-clojure-jvm/metrics-clojure-jvm {:mvn/version "2.10.0"}
  io.dropwizard.metrics/metrics-json {:mvn/version "4.2.15"}

  ;; we expect tools.logging to find and leverage slf4j-api from the classpath,
  ;; which we, in turn, expect to use logback-classic impl on the classpath.
  ;; notable: we also configure p6spy to leverage slf4j, and so expect to
  ;; get rolling file appender of p6spy logs via logback config.
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  org.slf4j/slf4j-api {:mvn/version "2.0.6"}
  ch.qos.logback/logback-classic {:mvn/version "1.4.5"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      org.clojure/data.csv {:mvn/version "1.0.1"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :perf {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
  :hacking {:extra-deps
            {org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
             org.graalvm.js/js {:mvn/version "22.2.0"}}}
  :uberdeps {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.4"}}
             :replace-paths []
             :main-opts ["-m" "uberdeps.uberjar"]}}}
